html {
  font-size: 14px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.mynavbar {
  background-color: white;
    padding: 10px 10px 10px 10px;
      box-shadow: 0 2px 4px rgba(0,0,0,.1); /* 添加阴影效果 */
    border-radius: 0; /* 移除圆角 */
}

.card-deck .card {
  min-width: 220px;
}

.card-img-small {
    max-width: 150px;
    max-height: 150px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*background: linear-gradient(to right, #8E24AA, #b06ab3);*/
    /*color: #D7D7EF;*/
    font-family: 'Lato', sans-serif;
}

h2 {
    margin: 50px 0;
}


.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    /*width: 450px;*/
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    transition: 0.2s;
    /*background: linear-gradient(to right, #8E24AA, #b06ab3);*/
    /*color: #D7D7EF;*/

}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

}

.mt-100 {
    margin-top: 100px;
}

.card-img {
    height: 300px; /* 设置图片的高度 */
    width: auto;
    /*object-fit: cover; !* 保持图片比例 *!*/
}

.card-p {
    line-height: 1.4; /* 设置行高为1.4倍字体大小 */
    min-height: 2.8em; /* 两行文本的高度（假设字体大小为1em） */
}