<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Envismetrics</title>
    <link rel="shortcut icon" href="https://www.njit.edu/favicon.ico" type="image/vnd.microsoft.icon"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='demo.js') }}"></script>
    <style>
        /* 定义高亮效果 */
        .highlight {
            background-color: yellow; /* 设置背景色为黄色 */
            transition: background-color 0.5s ease;
        }
    </style>

</head>

<body>
<div class="container">
    <main>
        <div class="py-5">
            <h2 class="text-primary">Documents</h2>


            <h3 id="section1">1 Levich and Koutecky-Levich Analysis</h3>
            <h4>1.1 What is Levich Analysis?</h4>
            <p>Levich Equation: The Levich equation describes the relationship between the
                limiting current and the rotation speed of a rotating disk electrode (RDE) in
                an electrochemical cell. It is used to determine the diffusion coefficient of the
                reacting species and the kinetics of the reaction.</p>

            <h4>1.2 What is Koutecky-Levich Analysis ?</h4>
            <p>Koutecky-Levich Equation: The Koutecky-Levich equation combines the
                kinetics of the electron transfer process with the mass transport limitation to
                provide a comprehensive understanding of the reaction mechanism.</p>

            <h3 id="section2">2 Smoothed/Smoothing Level (σ)</h3>
            <!--            <h4>2.1 What is Smoothed/Smoothing Level (σ)?</h4>-->
            <p>The term Smoothed/Smoothing Level (σ) refers to a parameter used in var-
                ious data analysis and signal processing techniques to reduce noise and smooth
                out fluctuations in data. The smoothing level is often represented by the Greek
                letter σ, which indicates the standard deviation of the Gaussian kernel used in
                the smoothing process.</p>

            <h3 id="section3">3 Kinematic Viscosity</h3>
            <!--            <h4>3.1 What is Kinematic Viscosity?</h4>-->
            <p>Kinematic viscosity (ν) is a measure of a fluid’s resistance to flow under the
                influence of gravity. It is defined as the ratio of the dynamic viscosity (μ) to
                the density (ρ) of the fluid. Kinematic viscosity is typically expressed in units
                of square meters per second (m2/s) or Stokes (St), where 1 St = 10−4 m2/s.</p>

            <h3 id="section4">4 Randles–ˇSevˇc´ık Analysis</h3>
            <!--            <h4>4.1 What is Randles–ˇSevˇc´ık Analysis?</h4>-->
            <p>The Randles–ˇSevˇc´ık analysis is a method used in electrochemistry to ana-
                lyze cyclic voltammetry data. It relates the peak current observed in a cyclic
                voltammogram to the scan rate, the concentration of the electroactive species,
                and the diffusion coefficient. This analysis is particularly useful for reversible
                electrochemical reactions.</p>

            <h3 id="section5">5 Tafel Analysis</h3>
            <!--            <h4>5.1 What is Tafel Analysis?</h4>-->
            <p>The Tafel analysis is a method used in electrochemistry to determine the ki-
                netics of an electrochemical reaction. It involves analyzing the Tafel plot, which
                is a plot of the logarithm of the current density (log j) versus the overpotential
                (η). The Tafel equation describes the relationship between the overpotential
                and the current density, providing insights into the reaction mechanism and the
                rate-determining step.</p>

            <h3 id="section6">6 Chronoamperometry</h3>
            <!--            <h4>6.1 What is Chronoamperometry?</h4>-->
            <p>Chronoamperometry is an electrochemical technique where a constant po-
                tential is applied to an electrode, and the resulting current is measured as a
                function of time. This technique is used to study the kinetics of electrochemical
                reactions, diffusion processes, and the stability of electrode materials.</p>

            <h3 id="section7">7 Number of Electron Transfer (n)</h3>
            <!--            <h4>7.1 What is the Number of Electron Transfer?</h4>-->
            <p>The number of electron transfer, denoted as n, refers to the number of
                electrons involved in an electrochemical reaction. It is a key parameter in deter-
                mining the stoichiometry of the reaction and is used in various electrochemical
                equations to describe the process.</p>

            <h3 id="section8">8 Initial Concentration (C0)</h3>
            <!--            <h4>8.1 What is Initial Concentration?</h4>-->
            <p>The initial concentration, denoted as C0, refers to the concentration of a sub-
                stance in a solution at the beginning of an experiment or reaction. It is typically
                measured in moles per cubic centimeter (mol/cm³) or moles per liter(M).</p>

            <h3 id="section9">9 Surface Area (A)</h3>
            <!--            <h4>9.1 What is Surface Area?</h4>-->
            <p>The surface area, denoted as A, refers to the area of the electrode that is in
                contact with the electrolyte in an electrochemical cell. It is typically measured
                in square centimeters (cm²).</p>

            <h3 id="section10">10 Rate Constant (k)</h3>
            <!--            <h4>10.1 What is the Rate Constant?</h4>-->
            <p>The rate constant, denoted as k, is a proportionality constant in the rate
                equation of a chemical reaction. It provides a measure of the speed at which a
                reaction occurs. The rate constant is specific to a given reaction at a particular
                temperature and is typically determined experimentally.</p>


            <h3 id="section11">11 Diffusion Coefficient (D)</h3>
            <!--            <h4>11.1 What is the Diffusion Coefficient?</h4>-->
            <p>The diffusion coefficient, denoted as D, is a measure of the rate at which
                particles or molecules spread out or diffuse through a medium. It is typically
                expressed in units of square centimeters per second (cm²/s) or square meters per
                second (m²/s). The diffusion coefficient is an important parameter in describing
                the kinetics of diffusion-controlled processes.</p>

            <h3 id="section12">12 Peak Searching</h3>
            <!--            <h4>11.1 What is the Diffusion Coefficient?</h4>-->
            <p>- <code>Peak range (top)</code>: This parameter specifies the potential (voltage) ranges in the cyclic voltammogram where
                the software will search for peaks in the upper (positive) direction. Each pair of numbers represents a
                range of applied potentials (in volts) where a peak might occur.</p

            <p>- <code>Peak range (bottom)</code>: This parameter is similar to the peak range (top), but it specifies the potential
                ranges where the software will search for peaks in the lower (negative) direction. Again, each pair
                represents a range of potentials.</p>

            <p>If you want to search for one peak, you would input just one pair of values, specifying the potential
                range where that peak might occur. For example, if you're only interested in finding a peak between 0 V
                and 0.2 V, you would enter the range as (0, 0.2).</p>

            <p>If you want to search for multiple peaks, you would input multiple pairs of values. Each pair corresponds
                to a different potential range where a peak might be found. For example, if you expect to find peaks
                within the ranges of -1 V to -0.70 V, 0 V to 0.2 V, and 0.25 V to 0.5 V, you would input these ranges as
                (-1, -0.70), (0, 0.2), (0.25, 0.5).</p>

            <p>- <code>Scan Rate and Cycle</code>: Cycle 9 means that the displayed voltammogram corresponds to the ninth time the
                potential has been swept through its range. Cycle 9 and Scan rate 100mV/s means that the results
                displayed correspond to the 100mV/s, ninth cycle of the experiment.</p>
            </p>

            <h3 id="section13">13 Regression Time Range: [0,1]</h3>

            <p>The regression time range specifies the time interval over which the regression analysis is performed. The values within the brackets represent the start and end times in seconds.</p>
            <p>For example: If you set the regression time range to [0,1], this means that the software will perform regression on data collected from 0 seconds to 1 second of each potential platform. This allows you to focus the analysis on a specific time window of interest, which can be crucial for identifying trends or behaviors that occur within that period.</p>

        </div>

    </main>


    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <ul class="list-inline">
            <li class="list-inline-item">
                <img src="{{ url_for('static', filename='imgs/njit.png') }}" class="rounded float-end" alt="...">
            </li>
            <li class="list-inline-item">
                <img src="{{ url_for('static', filename='imgs/biosmart.png') }}" class="rounded float-end" alt="...">
            </li>
        </ul>
        <p class="mb-1">© 2024 NJIT.edu</p>
    </footer>

    <!-- Bootstrap Modal for Loading Message -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Loading...</p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    // 获取 URL 中的 hash 和 search 部分
    function highlightSectionFromUrl() {
        var hash = window.location.hash; // 获取 #section1
        // var urlParams = new URLSearchParams(window.location.search); // 获取 ?highlight=true
        console.log("hash", hash);
        // console.log("urlParams", urlParams)

        // 如果 hash 和 highlight 参数都存在
        if (hash) {
            // 去掉 hash 中的 # 号，获取目标元素的 ID
            var elementId = hash.substring(1);
            console.log("elementId", elementId);
            // 获取目标元素
            var element = document.getElementById(elementId);

            if (element) {
                // 添加高亮类
                element.classList.add("highlight");

                // 设置一个定时器，在3秒后移除高亮效果
                setTimeout(function () {
                    element.classList.remove("highlight");
                }, 3000);

                // 滚动到目标元素
                element.scrollIntoView({behavior: "smooth"});
            }
        }
    }

    // 调用函数进行检测和高亮
    highlightSectionFromUrl();
</script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

