<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<div class="container py-3">

    {% include 'navbar.html' %}

    <main>

        <div class="py-5">
            <h2 class="text-primary">Envismetrics</h2>
            <p class="lead">A comprehensive toolbox for the interpretation of results across various electrochemical
                techniques.</p>
            <hr>
        </div>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Hydrodynamic Electrochemistry</h4>
                    </div>
                    <div class="card-body">
                        <div class="mt-3 mb-4">
                            <img class="img-fluid card-img" src="{{ url_for('static', filename='imgs/icon-1.png') }}" alt="">
                        </div>
                        <a href="/hyd_elec" class="w-100 btn btn-lg btn-primary">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Cyclic Voltammetry</h4>
                    </div>
                    <div class="card-body">
                        <div class="mt-3 mb-4">
                            <img class="img-fluid card-img" src="{{ url_for('static', filename='imgs/icon-2.png') }}" alt="">
                        </div>
                        <a href="#" class="w-100 btn btn-lg btn-primary">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Step Methods</h4>
                    </div>
                    <div class="card-body">
                        <div class="mt-3 mb-4">
                            <img class="img-fluid card-img" src="{{ url_for('static', filename='imgs/icon-3.png') }}" alt="">
                        </div>
                        <a href="#" class="w-100 btn btn-lg btn-primary">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}



</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
