<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<div class="container py-3">

    {% include 'navbar.html' %}

    <main>

        <div class="py-5">
            <h2 class="text-primary">Envismetrics</h2>
            <p class="lead">A comprehensive toolbox for the interpretation of results across various electrochemical
                techniques.</p>
            <hr>
            <h4>Cyclic Voltammetry Module</h4>
            <span class="badge custom-badge">CV-5.1</span>
        </div>

        <input type="hidden" id="version" name="version" value="{{data['version']}}">
        <input type="hidden" id="step" name="version" value="{{data['step']}}">


        <div class="row g-5" id="progress_bar" style="display: {{ data['processing_display'] }}">
            <div class="col-md-5 col-lg-4 ">
                <p>Please wait while we are processing...</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    <br><br>
                </div>
            </div>
        </div>

        {% if data['status'] == 'done' %}
        <!-- Results 2 -->
        <div class="row g-5" id="form3">
            <!--            <h4 class="mb-3">Results ({{ data['version'] }})</h4>-->
            <h5>Function 2: Peak searching<a href="/doc#section12" target="_blank"><i class="bi bi-question-circle"></i></a></h5>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img id="form3_img1" src="{{ data['form2']['output']['img1'] }}"
                             class="card-img rounded float-end" alt="...">
                        <div class="card-body">
                            <p class="card-text card-p"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img id="form3_img2" src="{{ data['form2']['output']['img2'] }}"
                             class="card-img rounded float-end" alt="...">
                        <div class="card-body">
                            <p class="card-text card-p"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-6 mt-3">
                <a id="form3_link" href="{{ data['form2']['output']['file1'] }}">Click here to download the result
                    file.</a>
            </div>

            <div class="needs-validation" novalidate="">
                <h5>Function 5: Tafel analysis module <a href="/doc#section_tafel" target="_blank"><i class="bi bi-question-circle"></i></a></h5>
                <div class="row col-6">
                    <div class="col-12">
                        <label for="input_n" class="form-label">Number of electron transfer (n) <a href="/doc#section7" target="_blank"><i class="bi bi-question-circle"></i></a></label>
                        <input type="text" class="form-control" id="input_n" required="" value="1">
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="input_n" class="form-label">Cycle to display <a href="/doc#section_cycle" target="_blank"><i class="bi bi-question-circle"></i></a></label>
                        <input type="text" class="form-control" id="cycle" required="" value="6">
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="input_n" class="form-label">Temperature (T - K) <a href="#" target="_blank"><i class="bi bi-question-circle"></i></a></label>
                        <input type="text" class="form-control" id="input_t" required="" value="298.15">
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="input_n" class="form-label">Electrode surface area (A - cm<sup>2</sup>) <a href="/doc#section9" target="_blank"><i class="bi bi-question-circle"></i></a></label>
                        <input type="text" class="form-control" id="electrode_dia" required="" value="0.30">
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="input_n" class="form-label">Current Peak <a href="/doc#section_coming_soon" target="_blank"><i class="bi bi-question-circle"></i></a></label>
                        <input type="text" class="form-control" id="current_peak" required="" value="1">
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-primary btn-md" ontouchstart="submitFormCV5()"
                        onclick="submitFormCV5()">Submit
                </button>

            </div>

            <br>

            <div class="col-md-7 col-lg-8">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-danger btn-md" ontouchstart="goBack()"
                                onclick="goBack()" style="min-width: 90px">Go back
                        </button>
                        <a class="btn btn-success btn-md" href="/cv" style="min-width: 90px">Start over</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


    </main>

    {% include 'footer.html' %}

    <!-- Bootstrap Modal for Loading Message -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Uploading...</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function checkAndCallAPI() {
        // 获取 id 为 "processing_bar" 的元素
        var processingBar = document.getElementById("progress_bar");


        // 检查该元素的 display 属性是否为 "block"
        if (processingBar.style.display === "block") {
            // 如果是，则调用 API
            callAPI();
        }
    }

    function callAPI() {
        // 模拟调用 API
        setInterval(function () {
            var version = document.getElementById("version").value;
            var step = document.getElementById("step").value;
            var URL = '/check/cv/' + version + '?step=' + step
            // 发送请求到你的 API
            fetch(URL)
                .then(response => response.json())
                .then(data => {
                    // 检查 API 返回结果是否为 "done"
                    if (data.result === "done") {
                        // 如果是，则刷新当前页面
                        location.reload();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }, 1000); // 每隔一秒调用一次 API
    }

    // 在页面加载完成后启动检查和调用 API 的函数
    window.onload = function () {
        checkAndCallAPI();
    };

    function submitFormCV5() {
        var formData = new FormData();

        var version = document.getElementById("version").value;

        var params = ['input_n', 'cycle', 'input_t', 'electrode_dia', 'current_peak'];
        for (var i = 0; i < params.length; i++) {
            var value = document.getElementById(params[i]).value;
            formData.append(params[i], value);
        }

        formData.append('module', 'CV');
        formData.append('func', '5');
        formData.append('version', version);


        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log(response);

                $('#loadingModal').modal('hide');

                if (response.status === true) {
                    var targetURL = "/cv/results/" + response.version + '?func=5';
                    window.location.href = targetURL;
                } else {
                    alert(response.message);
                }
                // alert('Files uploaded successfully');
            } else {
                alert('Error uploading files');
            }
        };
        xhr.send(formData);
    }

</script>

</body>
</html>
