<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<div class="container py-3">

    {% include 'navbar.html' %}

    <main>

        <div class="py-5">
            <h2 class="text-primary">Envismetrics</h2>
            <p class="lead">A comprehensive toolbox for the interpretation of results across various electrochemical
                techniques.</p>
            <hr>
            <h4>Cyclic Voltammetry Module</h4>
            <span class="badge custom-badge">CV-1</span>
        </div>

        <!-- Inputs -->
        <div class="row g-5" id="form1">
            <h5>Function 1: Plot the figure and apply the Gaussian filter to have a smoothed figure.</h5>
            <div class="col-md-5 col-lg-4 ">

                <h6 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Upload data files</span>
                </h6>
                <div class="file-drop-area">
                    <span class="choose-file-button">Choose files</span>
                    <span class="file-message">or drag and drop files here</span>
                    <input class="file-input" type="file" id="fileInput" multiple>
                </div>
                <div id="upload-message" style="color: red"></div>

                <br>
                <p style="color: gray">The file names should be like: <code>?mVs_CV.csv</code> or <code>?mVs_CV.xlsx</code><br><br>
                    <!--                    For example: <code>G_P_KOH40.0032gL_DMAB0.0475gL_20mVs_CV.csv</code></p>-->
                    Click here to download the example file: <a
                            href="/files/G_P_KOH40.0032gL_DMAB0.0475gL_20mVs_CV.csv">G_P_KOH40.0032gL_DMAB0.0475gL_20mVs_CV.csv</a>
                </p>
                <br>

                <div class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="input_sigma" class="form-label">Gaussian filter sigma</label>
                            <a href="/doc#section2" target="_blank"><i class="bi bi-question-circle"></i></a>
                            <input type="text" class="form-control" id="input_sigma" name="sigma" placeholder="10"
                                   required="" value="10">
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="input_sigma" class="form-label">Cycle <a href="/doc#section_cycle" target="_blank"><i class="bi bi-question-circle"></i></a></label>
                            <input type="text" class="form-control" id="input_cycle" name="cycle" placeholder="6"
                                   required="" value="6">
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <button type="button" class="btn btn-primary btn-md" ontouchstart="submitFormCV1()"
                        onclick="submitFormCV1()">Submit
                </button>
            </div>
            <br>
            <br>
        </div>
    </main>

    {% include 'footer.html' %}

    <!-- Bootstrap Modal for Loading Message -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Uploading...</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
