<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<div class="container py-3">

    {% include 'navbar.html' %}

    <main>

        <div class="py-5">
            <h2 class="text-primary">Envismetrics</h2>
            <p class="lead">A comprehensive toolbox for the interpretation of results across various electrochemical
                techniques.</p>
            <hr>
            <h4>Cyclic Voltammetry Module</h4>
        </div>

        <input type="hidden" id="version" name="version" value="{{data['version']}}">
        <input type="hidden" id="step" name="step" value="{{data['step']}}">



        <div class="row g-5" id="progress_bar" style="display: {{ data['processing_display'] }}">
            <div class="col-md-5 col-lg-4 ">
                <p>Please wait while we are processing...</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    <br><br>
                </div>
            </div>
        </div>

        {% if data['status'] == 'done' %}
        <!-- Results 1 -->
        <div class="row g-5" id="form2">
            <h4 class="mb-3">Results ({{data['version'] }})</h4>
            <input type="hidden" id="sigma" name="sigma" value="{{data['form1']['input']['sigma']}}">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img id="form2_img1" src="{{ data['form1']['output']['file1'] }}"
                             class="card-img rounded float-end" alt="...">
                        <div class="card-body">
                            <p class="card-text card-p">Cyclic Voltammograms (original)</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img id="form2_img2" src="{{ data['form1']['output']['file2'] }}"
                             class="card-img rounded float-end" alt="...">
                        <div class="card-body">
                            <p class="card-text card-p">Cyclic Voltammograms (filter sigma = <code
                                    id="form2_sigma"></code>)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="needs-validation" novalidate="">
                <div class="row col-6">


                    <div class="col-12">
                        <label for="form2_range1" class="form-label">Peak range (top):</label>
                        <input type="text" class="form-control" id="form2_range1" name="form2_range1" placeholder="0"
                               required="" value="(-1,-0.5),(0,0.2),(0.25,0.5)">
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="form2_range2" class="form-label">Peak range (bottom):</label>
                        <input type="text" class="form-control" id="form2_range2" name="form2_range2" placeholder="0"
                               required="" value="(-0.9,-0.75),(0,0.125),(0.125,0.25)">
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Which methods you want to use:</label>
                        <select class="form-select" aria-label="Default select example" name="form2_method">
                            <option selected value="max">Max</option>
                            <option value="knee">Knee point</option>
                        </select>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-primary btn-md" ontouchstart="submitFormCV2()"
                        onclick="submitFormCV2()">Submit
                </button>
            </div>
        </div>

        {% endif %}

    </main>

    {% include 'footer.html' %}

    <!-- Bootstrap Modal for Loading Message -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Uploading...</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
function checkAndCallAPI() {
    // 获取 id 为 "processing_bar" 的元素
    var processingBar = document.getElementById("progress_bar");


    // 检查该元素的 display 属性是否为 "block"
    if (processingBar.style.display === "block") {
        // 如果是，则调用 API
        callAPI();
    }
}

function callAPI() {
    // 模拟调用 API
    setInterval(function() {
        var version = document.getElementById("version").value;
        var step = document.getElementById("step").value;
        var URL = '/check/cv/' + version + '?step=' + step
        // 发送请求到你的 API
        fetch(URL)
            .then(response => response.json())
            .then(data => {
                // 检查 API 返回结果是否为 "done"
                if (data.result === "done") {
                    // 如果是，则刷新当前页面
                    location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }, 1000); // 每隔一秒调用一次 API
}

// 在页面加载完成后启动检查和调用 API 的函数
window.onload = function() {
    checkAndCallAPI();
};

</script>

</body>
</html>
