
<div class="fixed-top mynavbar">
  <div class="d-flex flex-column flex-md-row align-items-center">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Envismetrics</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <button type="button" class="btn btn-light mynavbar-btn"><a class="py-2 text-dark text-decoration-none" href="/hyd_elec">Hydrodynamic Electrochemistry</a></button>
      <button type="button" class="btn btn-light mynavbar-btn"><a class="py-2 text-dark text-decoration-none" href="/cv">Cyclic Voltammetry</a></button>
      <button type="button" class="btn btn-light mynavbar-btn"><a class="py-2 text-dark text-decoration-none" href="/step_methods">Step Methods</a></button>
    </nav>
  </div>
</div>